<!DOCTYPE html>
<html>
    <head>
        <title>wargh - login</title>
    </head>
    <bodY>
        <form action="login" method="POST">
            <label for="login"><b>Login</b></label>
            <input type="text" placeholder="Enter login" name="login" required>
    
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter password" name="password" required>

            <button type="submit">Login</button>
        </form>
    </bodY>
</html>